body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 85%;
    background: white;
}

th {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

select {
    padding: 5px;
    font-size: 14px;
}

.done {
    background-color: #c8f7c5;
}

.wrong {
    background-color: #f7c5c5;
}

